<div class="col-sm-12">
    <center>
      </center>
         <div id="iframe-stats">
           <iframe id="iframe-stats" name="myframe" 
                                 ng-src="{{url}}"
             frameborder="0"
             width="100%"
                                   height="2400"
             allowtransparency
          ></iframe>
           <hr></div>
       </div>