
 <!-- <a href="#" class="btn btn-primary">Close</a> -->
</div>

  <!-- 3 Articles Section -->

            
          </div>

    <div class="row">
          <div class="col-md-12 col-sm-12 portfolio-item">
          <div class="panel panel-default">
            <div class="panel-heading">Bar Chart</div>
            <div class="panel-body">
              <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"
                      chart-series="series"></canvas>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">

            <a href="blog/tinder/index.html" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <h3 class="articleteasers">Tinder and The Loss of True Intimacy</h2>
              <br>
            </a>
            <div class="portfolio-caption">
              <br>
              <p><code>The aim of this article is to carefully examine dating app culture, and debate whether this new culture is conducive or destructive to finding true love.</code> 
              </p>
              <div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
              </div>
            </div>
          </div>


      


         


        <br>
        <br>