<div class="row">
	<div class="col-sm-12">

  <a ui-sref=".stats" class="btn btn-primary">Stats</a>

  <a ui-sref=".leads" class="btn btn-primary">Leads</a>

  <a ui-sref=".dashboard" class="btn btn-primary">Analyzer Dashboard</a>

</div>


     
   <div ui-view></div>
 